<h2>Welcome!</h2>

<% IF projects %>
<table class="table table-striped">
  <caption>My Projects</caption>
  <thead>
    <tr>
      <th>Name</th><th>Type</th><th>Languages</th>
    </tr>
  </thead>
  <tbody>
    <% FOREACH p IN projects %>
       <tr>
         <td><% p.name %></td>
         <td><% p.type %></td>
         <td><% p.source %><% IF p.target %> | <% p.target %><% END %></td>
       </tr>
    <% END %>
  </tbody>
</table>
<% END %>
